body {
    background-color:#D2B48C;
}

h1, h2, h3 {
    color: #8caad2;
    text-align: center;
}

p {
    font-family: Comic Sans MS;
    font-size: 20px;
}
}

img {
	height: 250px;
	width: 250px;
	float: right
	border: 8px solid ;	
	box-shadow: 12 8 12 #D2B48C
}

div.contact{
	
	background: ;
	border: 1px solid #D2B48C
	


