body {
    background-color:#3A3227;
}

h1, h2, h3, h4 {
    color: #D2B48C;
    text-align: center;
}

p {
    font-family: Comic Sans MS;
    font-size: 20px;
}
}

img {
	height: 250px;
	width: 250px;
	float: right
	border: 8px solid ;	
	box-shadow: 12 8 12 #D2B48C
}

div.contact{
	
	background: ;
	border: 1px solid #3A3227
	


